<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="kh.mclass.bbb.sub.model.dto"/>
		<package name="kh.mclass.bbb.member.model.dto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>
 </configuration>